* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  --cut-image-width: 300px;
  --marker-color: #1478af4d;
  --marker-color-opaque: #1478af;
}

header {
  color: #efefef;
  background-color: #365c72e0;
  background-image: url(../imagens/recorte-baixo.png), url(../imagens/foto-criancas.jpg);
  background-size: var(--cut-image-width), cover;
  background-repeat: repeat-x, no-repeat;
  background-position: left bottom, left top;
}


.pre-header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5em;
  background-color: black;
  line-height: 2.5em;
  font-size: 0.6em;
}

@media (max-width: 960px) {
  .pre-header {
    justify-content: center;
  }
}

.pre-header-info {
  word-wrap: normal;
  white-space: nowrap;
}

.pre-header-info:not(:last-of-type) {
  margin-right: 2em;
}

.pre-header-info > .icon {
  margin-right: 0.5em;
}

header .logo {
  height: 120px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 1em;
  background-color: #dedededb;
  color: black;
}

#main-menu ul {
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 0.75em;
  height: 100%;
  align-items: center;
}

@media (max-width: 960px) {
  #main-menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 400px) {
  header .logo {
    height: 80px;
  }
}

#main-menu li {
  margin-right: 3em;
  white-space: nowrap;
}

#main-menu li::before {
  content: "\\\\";
  opacity: 0.65;
  margin-right: 1em;
  display: inline;
}

@media (max-width: 400px) {
  #main-menu li {
    margin-right: 0;
  }
}

.hero {
  padding: 4em 2em;
}

.hero span {
  white-space: nowrap;
}

.hero h1 {
  color: var(--highlight-color);
  text-shadow: 2px 2px black;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.25em;
}

.help-build {
  text-align: right;
  align-self: flex-start;
}

.science-lab {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 200%;
  line-height: 1em;
}

.science-lab-container {
  display: flex;
  flex-direction: column;
  border-left: 3px double #ffffff1c;
  margin-left: 1em;
  padding-left: 0.25em;
}

.science-lab > span {
  background-image: linear-gradient(to top, transparent 30%, var(--marker-color) 30%, var(--marker-color) 70%, transparent 70%);
}

.from-aristides {
  color: var(--marker-color-opaque);
}

@media (max-width: 840px) {
  .hero h1 {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .help-build {
    align-self: flex-start;
  }

  .from-aristides {
    align-self: flex-end;
  }

  .science-lab-container {
    margin: 0;
    padding: 0;
    border-left-width: 0;
  }
}

@media (max-width: 620px) {
  .hero {
    padding: 1em;
    font-size: 0.7em;
  }
}

@media (max-width: 400px) {
  .hero {
    font-size: 0.5em;
  }
}

.textual-content {
  padding: 1em;
}

@media (max-width: 400px) {
  .textual-content {
    padding: 0.25em;
  }
}


.gallery img,
.gallery-full img {
  transition-property: box-shadow, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transform-origin: center;
  cursor: pointer;
}
.gallery img:hover,
.gallery-full img:hover {
  box-shadow: 0px 0px 30px #0006;
  transform: scale(1.05);
}

.out {
  pointer-events: none;
}


/* laboratório de ciências */
#laboratorio-de-ciencias {
  display: flex;
  flex-direction: row;
}

#laboratorio-de-ciencias .gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 50%;
}

#laboratorio-de-ciencias .gallery > div {
  flex: 1 1 auto;
  margin: 10px;
  text-align: center;
}

#laboratorio-de-ciencias .gallery img {
  width: 45%;

}


@media (max-width: 620px) {
  #laboratorio-de-ciencias {
    flex-direction: column;
  }
  #laboratorio-de-ciencias .gallery {
    max-width: 100%;
  }
}

/* como ajudar */
#como-ajudar {
  --leao-width: 380px;
  background-color: #b19e70;
  background-image: url(../imagens/recorte-baixo.png);
  background-size: var(--cut-image-width);
  background-repeat: repeat-x;
  background-position: bottom;
}

.instrucoes {
  clear: both;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #ffffff14;
  border: 1px solid #dec17e61;
  padding-left: 1em;
}

.leao {
  float: left;
  min-width: 320px;
  max-width: var(--leao-width);
  margin-right: 1em;
  margin-bottom: 1em;
}

.leao img {
  width: 100%;
}

@media (max-width: 620px) {
  #como-ajudar {
    flex-direction: column;
  }
  .leao {
    max-width: 100%;
    margin-right: 0;
  }
}

.passos-doacao {
  list-style-type: none;
  font-size: 0.8em;
  line-height: 1.5em;
}

.passos-doacao p {
  text-align: justify;
}

.passos-doacao li {
  padding: 0.15em 1em;
}

.passos-doacao li.ativo {
  background: #cc8d00;
  color: white;
}

.passos-doacao li:not(:last-of-type) {
  border-bottom: 1px solid #dec17e61;
}

.passos-doacao li::after {
  content: "";
  display: block;
  clear: both;
}

.passos-doacao li .icon {
  font-size: 48px;
  float: left;
  padding: 0.25em 0.5em;
  color: #dec17e;
}

.passo {
  font-size: 60%;
  border: 1px solid #dec17e;
  width: 2em;
  height: 2em;
  display: inline-block;
  text-align: center;
  line-height: 2em;
  border-radius: 2px;
  color: #594312;
}

.assistir-video {
  float: right;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  border: 1px solid #594312;
  color: #594312;
  font-size: 80% !important;
  cursor: pointer;
  margin: 1em 0;
  position: relative;
  user-select: none;
}

.assistir-video .icon {
  font-size: 1em !important;
  float: initial !important;
  color: currentColor !important;
}

.assistir-video:hover,
.assistir-video:hover .icon {
  color: #886415;
  border-color: currentColor;
}

.assistir-video:active {
  top: 1px;
  left: 1px;
}

.instrucoes-textuais {
  flex: 1;
}

.instrucoes-videos {
  flex: 1;
  padding: 1em;
  margin-left: 1em;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.instrucoes-textuais .passos-doacao p img {
  height: 1em;
}

.instrucoes-videos video {
  max-width: 100%;
  /* transform: rotateY(-6deg);
  transform-origin: left; */
  box-shadow: 4px 4px 20px #0009;
}

.controles-video {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  padding: 0.25em 0.75em;
  position: relative;
}

.controles-video .titulo-video {
  flex: 1;
}

.controles-video .icon {
  transition: all 200ms ease;
  margin-left: 0.5em;
  cursor: pointer;
  position: relative;
}

.controles-video .icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.controles-video .icon:active {
  left: 1px;
  top: 1px;
}

.controles-video .progresso-container {
  width: calc(100% - 5em);
  position: absolute;
}

.controles-video .progresso {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  width: 0;
  background-color: #2a0d48;
  transition: all 500ms linear;
}

@media (max-width: 960px) {
  .instrucoes {
    flex-direction: column;
    padding-left: 0;
  }

  .passos-doacao {
    padding-left: 0;
  }

  .instrucoes-videos {
    order: 0;
    position: static;
    margin: 0;
    padding: 0;
  }

  .instrucoes-videos video {
    transform: initial;
    max-width: 100%;
  }

  .instrucoes-textuais {
    order: 1;
  }
}


/* o que já foi feito */
#o-que-ja-foi-feito {
  display: flex;
  flex-direction: row;
}

#o-que-ja-foi-feito .textual-content {
  flex: 1;
}

#o-que-ja-foi-feito .gallery-full .guggenheim-slider {
  width: 100%;
  height: 100%;
}

#o-que-ja-foi-feito .gallery-full {
  width: 500px;
}

#o-que-ja-foi-feito .gallery-full .guggenheim-slider {
  display: inline-block;
}

#o-que-ja-foi-feito .gallery-full figcaption {
  display: none;
}

#o-que-ja-foi-feito .gallery-full .guggenheim-item {
  display: inline-block;
}

#o-que-ja-foi-feito .gallery-full img {
  width: 150px;
  object-fit: scale-down;
}

.links-tipos-fotos {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: center;
}

.links-tipos-fotos li {
  background-color: var(--marker-color);
  padding: 0.15em 0.5em;
  border-radius: 0.15em;
  border: 1px solid var(--marker-color-opaque);
  color: var(--maker-color-opaque);
  font-size: 0.65em;
  box-shadow: 4px 4px 4px #0001;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 300ms ease;
}

.links-tipos-fotos li:hover {
  box-shadow: 0 0 20px #0003;
}

.links-tipos-fotos li:not(:last-of-type) {
  margin-right: 1.5em;
}

.links-tipos-fotos li.alternate {
  background-color: #9f9f9f4d;
  padding: 0.15em 0.5em;
  border-radius: 0.15em;
  border: 1px solid #485157;
  color: #485157;
}

#projects-gallery {
  position: relative;
}

#gallery-full-pagination {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 0.75em;
  user-select: none;
}

.paginate-bt {
  display: inline-block;
  padding: 0.15em;
  cursor: pointer;
}

.paginate-bt.disabled {
  color: silver;
}

.paginate-bt:link {
  color: white;
}

.paginate-bt:hover {
  color: silver;
}

.paginate-bt:visited {
  color: white;
}

.paginate-bt:active {
  color: gray;
}

@media (max-width: 620px) {
  #o-que-ja-foi-feito {
    flex-direction: column;
  }

  #o-que-ja-foi-feito #projects-gallery {
    margin-left: auto;
    margin-right: auto;
  }
}


/* fazer uma visita */
#fazer-uma-visita {
  background-color: var(--marker-color-opaque);
  color: white;
  text-align: center;
}

#fazer-uma-visita h2 {
  color: var(--highlight-color);
}

/* footer */
footer {
  padding: 1em;
  background-color: black;
  color: white;
  font-size: 0.6em;
}
